{% extends "base.html" %}
{% load staticfiles%}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'ircimages/css/lightbox.css' %}">
{% endblock %}

{% block content %}
<main role="main" class="container-fluid" style="padding-top: 15px;">
{% if image_list %}
    <table>
    <tbody>
    <tr>
    {% for image in image_list %}
        {% if image.thumb %}
        <td>
            <div class='text-center'>
                    <a href="{{ image.image.url }}" class='example-image-link' data-lightbox='example-set' data-title='{{ image.related_log | urlize }}<br />{{ image.caption }}'>
                    <img alt='Generic placeholder thumbnail' class='rounded img-fluid' src="{{ image.thumb.url }}"></img>
                </a>
            </div>
        </td>
        {% if forloop.counter == 10 or forloop.counter == 20 or forloop.counter == 30 or forloop.counter == 40 or forloop.counter == 50 %}
            </tr><tr>
        {% endif %}
        {% endif %}
    {% endfor %}
    </tr>
    </tbody>
    </table>
    {% if is_paginated %}
    <div class="pagination">
       <span class="page-links">
          {% if page_obj.object_list %}
          <div class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ page_obj.number }}
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  {% for p in page_obj.paginator.page_range %}
                  <a class="dropdown-item" href="/ircimages?page={{ p }}">{{ p }}</a>
                  {% endfor %}
              </div>
          </div>
          {% endif %}
          {% if page_obj.has_previous %}
            <a href="/ircimages?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span class="page-current">
             Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
            <a href="/ircimages?page={{ page_obj.next_page_number }}">next</a>
          {% endif %}
       </span>
    </div>
    {% endif %}
{% endif %}
</main>
{% endblock content %}
{% block extrabody %}
<script src="{% static 'ircimages/js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'ircimages/js/lightbox.js' %}"></script>
{% endblock %}
